target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.idea
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

CSTOptionsWebApp/upload-dir/*
CSTOptionsWebApp/students.csv
*.csv
*.DS_Store
CSTOptionsWebApp/src/main/resources/static/node_modules