h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

footer{
    bottom:0px;
    position:fixed;
    color: azure;
    background-color:rgba(25,25,25,0.85);
    width:100vw;
    left:0;
}

.headerContainer{
    top:0px;
    position:fixed;
    color: azure;
    background-color:rgba(25,25,25,0.85);
    width:100vw;
    left:0;
}