<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Example </title>
    <div th:replace="header :: header-css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20vh">
        <div class="col-2"></div>
        <div id="centerContainer" class="centerElements center-block col-8">
            <form id="formStyle" class="centerElements" th:action="@{/login}" method="post">
                    <h1 style="font-size: 40px;">Please Sign In</h1>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" 
                               placeholder="Username" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" 
                               placeholder="Password" required="true"/>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <input id="sub" type="submit" class="btn" value="SIGN IN"/>
                        </div>
                        <div class="col-2"></div>
                    </div>
                <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div id="forgotLogin" style="margin-top: 150px; Opacity:0.85; font-size: 26px;">
                            Don't have a login or don't remember? Contact your program head of department to recieve credentials.
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
            </form>
        </div>
        <div class='col-2'></div>
    </div>

</div>

<div th:replace="footer :: footer"/>

</body>
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
    var ck_username = /^[A-Za-z0-9_]{1,20}$/;
    var ck_password =  /^[A-Za-z0-9!@#$%^&amp;*()_]{6,20}$/;

    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var errors = [];

    if (!ck_username.test(username)) {
    errors[errors.length] = "You valid UserName no special char .";
    }
    if (!ck_password.test(password)) {
    errors[errors.length] = "You must enter a valid Password ";
    }
    if (errors.length > 0) {
      reportErrors(errors);
      return false;
     }

     return true;
    }

    function reportErrors(errors){
     var msg = "Please Enter Valide Data...\n";
     for (var i = 0; i<errors.length; i++) {
      var numError = i + 1;
      msg += "\n" + numError + ". " + errors[i];
     }
     alert(msg);
    }


/*]]>*/
</script>
</html>