A00001281
Austin Aguilar
GPA: null
1
Eligible
Digital Processing	Web & Mobile	Information Systems	Client Server	
---------***--------
A00001321
Cameron An
GPA: null
1
Eligible
Web & Mobile	Information Systems	Data Communications	Client Server	
---------***--------
A00001241
Kevin Aquilario
GPA: null
1
Eligible
Information Systems	Client Server	Web & Mobile	Digital Processing	
---------***--------
A00001266
Eddy Banks-Bywater
GPA: null
1
Eligible
Information Systems	Web & Mobile	Data Communications	Client Server	
---------***--------
A00001242
Anson Banman
GPA: null
2
Eligible
Web & Mobile	Data Communications	Information Systems	Client Server	
---------***--------
A00001286
Evgeni Bayntun
GPA: null
1
Eligible
Data Communications	Web & Mobile	Digital Processing	Information Systems	
---------***--------
A00001311
Jagjot Bhatti
GPA: null
1
Eligible
Web & Mobile	Digital Processing	Client Server	Information Systems	
---------***--------
A00001246
Nansi Brandrick
GPA: null
2
Eligible
Data Communications	Information Systems	Web & Mobile	Client Server	
---------***--------
A00001244
Joshua Brigden
GPA: null
1
Eligible
Client Server	Data Communications	Digital Processing	Wait for January	
---------***--------
A00001319
Adam Buhler
GPA: null
1
Eligible
Data Communications	Web & Mobile	Information Systems	Digital Processing	
---------***--------
A00001324
Juan Chan
GPA: null
1
Eligible
Data Communications	Information Systems	Digital Processing	Web & Mobile	
---------***--------
A00001317
Soran Charles-Lundaahl
GPA: null
1
Eligible
Data Communications	Information Systems	Client Server	Wait for January	
---------***--------
A00001240
Gabriella Cheng
GPA: null
1
Eligible
Information Systems	Client Server	Data Communications	Wait for January	
---------***--------
A00001327
Tyler Chiang
GPA: null
1
Eligible
Web & Mobile	Digital Processing	Data Communications	Information Systems	
---------***--------
A00001306
Dzmitry Chimick
GPA: null
1
Eligible
Client Server	Web & Mobile	Information Systems	Data Communications	
---------***--------
A00001294
Matthew Chiu
GPA: null
1
Eligible
Data Communications	Information Systems	Digital Processing	Web & Mobile	
---------***--------
A00001320
Anthony Chodolak
GPA: null
2
Eligible
Data Communications	Information Systems	Client Server	Web & Mobile	
---------***--------
A00001309
Ricky  Chu
GPA: null
1
Eligible
Information Systems	Data Communications	Client Server	Web & Mobile	
---------***--------
A00001314
Jaegar Clarke
GPA: null
2
null
Information Systems	Client Server	Digital Processing	Data Communications	
---------***--------
A00001329
Chih Craig
GPA: null
1
Eligible
Data Communications	Web & Mobile	Information Systems	Digital Processing	
---------***--------
A00001243
Carlo Dale
GPA: null
1
Eligible
Data Communications	Information Systems	Client Server	Wait for January	
---------***--------
A00001298
Arthur Dellow
GPA: null
1
Eligible
Information Systems	Client Server	Web & Mobile	Digital Processing	
---------***--------
A00001288
Dhivya Dorsay
GPA: null
1
Eligible
Data Communications	Digital Processing	Information Systems	Client Server	
---------***--------
A00001261
Ruoqi Ferreira
GPA: null
1
Eligible
Data Communications	Digital Processing	Information Systems	Web & Mobile	
---------***--------
A00001293
Eunwon Gonzales
GPA: null
1
Eligible
Data Communications	Information Systems	Client Server	Digital Processing	
---------***--------
A00001245
Jon Gutica
GPA: null
1
Eligible
Information Systems	Data Communications	Wait for January	Wait for January	
---------***--------
A00001250
Ralph Hartline
GPA: null
1
Eligible
Information Systems	Web & Mobile	Data Communications	Wait for January	
---------***--------
A00001239
Xu Harvey
GPA: null
1
Eligible
Information Systems	Client Server	Web & Mobile	Data Communications	
---------***--------
A00001258
William Hlynsky
GPA: null
1
Eligible
Data Communications	Web & Mobile	Information Systems	Client Server	
---------***--------
A00001315
Matthew Hodgkinson
GPA: null
1
Eligible
Digital Processing	Web & Mobile	Information Systems	Wait for January	
---------***--------
A00001247
Anthony Hristov
GPA: null
2
Eligible
Web & Mobile	Information Systems	Digital Processing	Client Server	
---------***--------
A00001268
Sean Hui
GPA: null
1
Eligible
Information Systems	Data Communications	Client Server	Wait for January	
---------***--------
A00001302
Scott Hung
GPA: null
1
Eligible
Web & Mobile	Client Server	Data Communications	Digital Processing	
---------***--------
A00001255
Tyler Ivanov
GPA: null
1
Eligible
Web & Mobile	Client Server	Information Systems	Data Communications	
---------***--------
A00001285
Quan-Huy Jesse
GPA: null
2
null
Digital Processing	Data Communications	Web & Mobile	Information Systems	
---------***--------
A00001287
Alvin Ji
GPA: null
2
Eligible
Information Systems	Digital Processing	Data Communications	Client Server	
---------***--------
A00001235
Colin Khan
GPA: null
1
null
Information Systems	Client Server	Data Communications	Web & Mobile	
---------***--------
A00001248
Mary Grace Khangura
GPA: null
1
Eligible
Information Systems	Data Communications	Data Communications	Data Communications	
---------***--------
A00001332
Micah Kim
GPA: null
2
Eligible
Information Systems	Digital Processing	Data Communications	Web & Mobile	
---------***--------
A00001307
Roscef Klassen
GPA: null
1
Eligible
Information Systems	Client Server	Digital Processing	Data Communications	
---------***--------
A00001283
Jacky Kopczynski
GPA: null
1
Eligible
Digital Processing	Data Communications	Information Systems	Web & Mobile	
---------***--------
A00001264
Jason Kouwenhoven
GPA: null
1
Eligible
Data Communications	Information Systems	Digital Processing	Web & Mobile	
---------***--------
A00001269
Allan Krishnanta
GPA: null
1
Eligible
Information Systems	Digital Processing	Client Server	Data Communications	
---------***--------
A00001292
Robert Lachapelle
GPA: null
1
Eligible
Information Systems	Data Communications	Web & Mobile	Digital Processing	
---------***--------
A00001237
Stuart Lai
GPA: null
1
Eligible
Web & Mobile	Client Server	Data Communications	Information Systems	
---------***--------
A00001308
Daniel Lam
GPA: null
1
Eligible
Data Communications	Information Systems	Web & Mobile	Digital Processing	
---------***--------
A00001265
Yu Ching Lam
GPA: null
1
Eligible
Data Communications	Digital Processing	Web & Mobile	Client Server	
---------***--------
A00001310
Carson Lauzon
GPA: null
1
Eligible
Web & Mobile	Client Server	Data Communications	Information Systems	
---------***--------
A00001316
Chang Beom Lee
GPA: null
1
Eligible
Digital Processing	Web & Mobile	Information Systems	Client Server	
---------***--------
A00001299
Kamil Lee
GPA: null
1
Eligible
Information Systems	Client Server	Data Communications	Web & Mobile	
---------***--------
A00001257
Grayden Leung
GPA: null
1
Eligible
Information Systems	Client Server	Web & Mobile	Digital Processing	
---------***--------
A00001236
Trevor Leung
GPA: null
1
Eligible
Data Communications	Web & Mobile	Information Systems	Client Server	
---------***--------
A00001260
John lim
GPA: null
1
Eligible
Data Communications	Digital Processing	Client Server	Web & Mobile	
---------***--------
A00001274
Michael Liu
GPA: null
2
Eligible
Web & Mobile	Information Systems	Data Communications	Client Server	
---------***--------
A00001289
Johnny Lo
GPA: null
2
null
Information Systems	Web & Mobile	Client Server	Wait for January	
---------***--------
A00001290
Tyler Lockhart
GPA: null
1
Eligible
Data Communications	Web & Mobile	Information Systems	Wait for January	
---------***--------
A00001313
Rupinder Pal Loho
GPA: null
1
Eligible
Information Systems	Data Communications	Web & Mobile	Digital Processing	
---------***--------
A00001303
Spencer Lues
GPA: null
2
Eligible
Web & Mobile	Data Communications	Information Systems	Client Server	
---------***--------
A00001262
Vivek Lyons-Davis
GPA: null
1
Eligible
Web & Mobile	Client Server	Information Systems	Data Communications	
---------***--------
A00001277
Daniel Ying Hung Ma
GPA: null
2
Eligible
Wait for January	Web & Mobile	Client Server	Information Systems	
---------***--------
A00001238
Krystle Mabbott
GPA: null
1
Eligible
Information Systems	Web & Mobile	Client Server	Digital Processing	
---------***--------
A00001279
Nathaniel Marantz
GPA: null
1
Eligible
Digital Processing	Information Systems	Data Communications	Client Server	
---------***--------
A00001253
Juven Meilleur
GPA: null
1
Eligible
Data Communications	Wait for January	Wait for January	Wait for January	
---------***--------
A00001296
Khoa Montano
GPA: null
1
Eligible
Data Communications	Web & Mobile	Wait for January	Information Systems	
---------***--------
A00001278
Brian Padua
GPA: null
1
Eligible
Data Communications	Information Systems	Digital Processing	Web & Mobile	
---------***--------
A00001300
Joseph Pelka
GPA: null
1
Eligible
Information Systems	Data Communications	Web & Mobile	Client Server	
---------***--------
A00001284
Jing Pham
GPA: null
1
Eligible
Information Systems	Data Communications	Client Server	Web & Mobile	
---------***--------
A00001249
Hsuan Wei Qualizza
GPA: null
1
Eligible
Digital Processing	Data Communications	Web & Mobile	Information Systems	
---------***--------
A00001259
Jayson rafanan
GPA: null
2
Eligible
Data Communications	Digital Processing	Web & Mobile	Information Systems	
---------***--------
A00001272
Eric Rattan
GPA: null
1
Eligible
Digital Processing	Web & Mobile	Information Systems	Data Communications	
---------***--------
A00001301
Duy Rempel
GPA: null
1
Eligible
Digital Processing	Data Communications	Information Systems	Client Server	
---------***--------
A00001267
Eric Sabourova
GPA: null
2
Eligible
Digital Processing	Data Communications	Information Systems	Web & Mobile	
---------***--------
A00001297
Nguyen Sadio
GPA: null
1
Eligible
Client Server	Information Systems	Web & Mobile	Digital Processing	
---------***--------
A00001318
She Jong Sarang
GPA: null
1
Eligible
Data Communications	Information Systems	Digital Processing	Wait for January	
---------***--------
A00001323
Clifton Sato
GPA: null
1
Eligible
Data Communications	Web & Mobile	Client Server	Information Systems	
---------***--------
A00001280
Hank Scott
GPA: null
1
Eligible
Data Communications	Web & Mobile	Digital Processing	Information Systems	
---------***--------
A00001282
Eric Smith
GPA: null
1
Eligible
Information Systems	Client Server	Digital Processing	Data Communications	
---------***--------
A00001325
Tom Smith-Manchip
GPA: null
1
Eligible
Web & Mobile	Client Server	Information Systems	Data Communications	
---------***--------
A00001271
Seonghyoung Soer
GPA: null
2
Eligible
Data Communications	Digital Processing	Client Server	Information Systems	
---------***--------
A00001276
Andrew Tallarico
GPA: null
1
Eligible
Data Communications	Client Server	Information Systems	Web & Mobile	
---------***--------
A00001312
Samuel Tallentire
GPA: null
1
Eligible
Data Communications	Web & Mobile	Information Systems	Client Server	
---------***--------
A00001295
Kwok Chu Tan
GPA: null
1
Eligible
Information Systems	Client Server	Digital Processing	Data Communications	
---------***--------
A00001252
Hai Hoang Truong
GPA: null
1
null
Web & Mobile	Data Communications	Information Systems	Wait for January	
---------***--------
A00001270
Spenser Tsang
GPA: null
1
Eligible
Digital Processing	Web & Mobile	Information Systems	Wait for January	
---------***--------
A00001256
Phillip Velasco
GPA: null
1
Eligible
Data Communications	Information Systems	Wait for January	Digital Processing	
---------***--------
A00001275
Don Yimeng Vouve
GPA: null
2
Eligible
Information Systems	Data Communications	Client Server	Web & Mobile	
---------***--------
A00001305
Yong Ern Walker-Illing
GPA: null
1
Eligible
Information Systems	Data Communications	Wait for January	Client Server	
---------***--------
A00001254
Aicha Wang
GPA: null
1
Eligible
Data Communications	Web & Mobile	Information Systems	Digital Processing	
---------***--------
A00001326
Jose Claudio Wang
GPA: null
1
Eligible
Information Systems	Web & Mobile	Data Communications	Digital Processing	
---------***--------
A00001273
Tony Waziri
GPA: null
2
Eligible
Information Systems	Web & Mobile	Client Server	Data Communications	
---------***--------
A00001291
Martin WU
GPA: null
1
Eligible
Information Systems	Client Server	Web & Mobile	Digital Processing	
---------***--------
A00001331
Andrew Xia
GPA: null
1
Eligible
Data Communications	Information Systems	Digital Processing	Web & Mobile	
---------***--------
A00001251
Quan Xie
GPA: null
1
Eligible
Information Systems	Digital Processing	Web & Mobile	Data Communications	
---------***--------
A00001322
Wesley Ye
GPA: null
1
Eligible
Digital Processing	Data Communications	Client Server	Information Systems	
---------***--------
A00001304
Derrick Yoo
GPA: null
1
Eligible
Information Systems	Client Server	Web & Mobile	Data Communications	
---------***--------
A00001330
Brendan Yoon
GPA: null
1
Eligible
Data Communications	Information Systems	Digital Processing	Web & Mobile	
---------***--------
