<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                padding: 10px;
            }
        </style>
        <title>Students Home Page</title></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <div id="container">
        <h1>Student Container</h1>
        <button id="mybut" type="button">Request Data</button>
        <div id="stuContainer">
            <table id="stuTable">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>GPA</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned Option</th>
                <th>Student Choices</th>
              </tr>
            </table>
        </div>
    </div>
    
    
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        var myTable = document.getElementById("stuTable");
        
        document.getElementById("mybut").addEventListener("click", function(){
            $.ajax({
              url: "/students/getStudentName",
              type:"get",
              success: function(resp){
                  console.log(resp);
                  for(var i=0; i < resp.length; i++) {
                    var tr = document.createElement("tr");
                    var thID = document.createElement("th");
                    var thName = document.createElement("th");
                    var thGPA = document.createElement("th");
                    var thPriority = document.createElement("th");
                    var thStatus = document.createElement("th");
                    var thAssigned = document.createElement("th");
                    var thChoices = document.createElement("th");
                    
                    var txtID = document.createTextNode(resp[i].ID);
                    var txtName = document.createTextNode(resp[i].Name);
                    var txtGPA = document.createTextNode(resp[i].GPA);
                    var txtPriority = document.createTextNode(resp[i].Priority);
                    var txtStatus = document.createTextNode(resp[i].Status);
                    var txtAssigned = document.createTextNode(resp[i].AssignedOption);
                    var ChoicesArray = resp[i].StudentChoices.split("/n");
                      
                        for(var j=0; j<ChoicesArray.length; j++){
                            var txtChoices = document.createTextNode(ChoicesArray[j]);
                            thChoices.appendChild(txtChoices);
                            var linebreak = document.createElement("br");
                            thChoices.appendChild(linebreak);
                        }
                    console.log(txtChoices);
                      
                    thID.appendChild(txtID);
                    thName.appendChild(txtName);
                    thGPA.appendChild(txtGPA);
                    thPriority.appendChild(txtPriority);
                    thStatus.appendChild(txtStatus);
                    thAssigned.appendChild(txtAssigned);
                      
                    tr.appendChild(thID);
                    tr.appendChild(thName);
                    tr.appendChild(thGPA);
                    tr.appendChild(thPriority);
                    tr.appendChild(thStatus);
                    tr.appendChild(thAssigned);
                    tr.appendChild(thChoices);
                      
                      
                    myTable.appendChild(tr);
                }
              }
            });
        });
    /*]]>*/
    </script>
</body>
</html>