<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                padding: 10px;
            }
            
            #getData{
                margin-left: 45vw;
                margin-bottom: 2vh;
            }
            #stuContainer {
                border: 1px solid grey;
                width: 55vw;
                height: 50vh;
                overflow: auto;
                margin: auto;
            }
            #controls{
                margin-left: 15vw;
                margin-top: 2vh;
            }
            
        </style>
        <title>Add or Remove Student</title></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <div id="container">
        <h1>Student Container</h1>
        <button id="getData" class="btn" type="button">Request Data</button>
        <div id="stuContainer">
            <table id="stuTable">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>GPA</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned Option</th>
                <th>Student Choices</th>
              </tr>
            </table>
        </div>
        <div id="controls">
            <button id="addStu" class="btn btn-default btn-large">Add Student</button>
            <button id="delStu" class="btn btn-default btn-large">Remove Student</button>
            <button id="viewOptionDetails" class="btn btn-default btn-large">View Option Details</button>
        </div>
        <div id="inputs"></div>
        <div id="optionsDiv"></div>
    </div>
    
    
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        var inputsDiv = document.getElementById("inputs");
        var optionsDiv = document.getElementById("optionsDiv");
        var myTable = document.getElementById("stuTable");
        
        //Get all data + placement
        document.getElementById("getData").addEventListener("click", function(){
            $.ajax({
              url: "/students/getStudentName",
              type:"get",
              success: function(resp){
                  console.log(resp);
                  for(var i=0; i < resp.length; i++) {
                    var tr = document.createElement("tr");
                    var thID = document.createElement("th");
                    var thName = document.createElement("th");
                    var thGPA = document.createElement("th");
                    var thPriority = document.createElement("th");
                    var thStatus = document.createElement("th");
                    var thAssigned = document.createElement("th");
                    var thChoices = document.createElement("th");
                    
                    var txtID = document.createTextNode(resp[i].ID);
                    var txtName = document.createTextNode(resp[i].Name);
                    var txtGPA = document.createTextNode(resp[i].GPA);
                    var txtPriority = document.createTextNode(resp[i].Priority);
                    var txtStatus = document.createTextNode(resp[i].Status);
                    var txtAssigned = document.createTextNode(resp[i].AssignedOption);
                    var ChoicesArray = resp[i].StudentChoices.split("/n");
                      
                        for(var j=0; j<ChoicesArray.length; j++){
                            var txtChoices = document.createTextNode(ChoicesArray[j]);
                            thChoices.appendChild(txtChoices);
                            var linebreak = document.createElement("br");
                            thChoices.appendChild(linebreak);
                        }
                    console.log(txtChoices);
                      
                    thID.appendChild(txtID);
                    thName.appendChild(txtName);
                    thGPA.appendChild(txtGPA);
                    thPriority.appendChild(txtPriority);
                    thStatus.appendChild(txtStatus);
                    thAssigned.appendChild(txtAssigned);
                      
                    tr.appendChild(thID);
                    tr.appendChild(thName);
                    tr.appendChild(thGPA);
                    tr.appendChild(thPriority);
                    tr.appendChild(thStatus);
                    tr.appendChild(thAssigned);
                    tr.appendChild(thChoices);
                      
                      
                    myTable.appendChild(tr);
                }
              }
            });
        });
        
        //Add student function
        document.getElementById("addStu").addEventListener("click", function(){
            inputsDiv.innerHTML = "";
            
            //Create elements
            var studentID = document.createElement("input");
            var studentName = document.createElement("input");
            var GPA = document.createElement("input");
            var submitBut = document.createElement("button");
            
            //Set element IDs - think i can remove this. might be useless?
            studentID.id = "studentID";
            studentName.id = "studentName";
            GPA.id = "GPA";
            submitBut.id = "submitBut";
            
            //Button styling
            submitBut.innerHTML = "Submit";
            submitBut.className = "btn btn-default btn-large";
                        
            //append to div
            inputsDiv.appendChild(studentID);
            inputsDiv.appendChild(studentName);
            inputsDiv.appendChild(GPA);
            inputsDiv.appendChild(submitBut);
            
            submitBut.addEventListener("click", function(){
                $.ajax({
                  url: "/students/get",
                  type:"get",
                  success: function(resp){
                      console.log(resp);
                      
                  }
                });
            });
        });
        
        //View Option specific information
        document.getElementById("viewOptionDetails").addEventListener("click", function(){
           $.ajax({
              url: "/students/optionsDetail",
              type:"get",
              success: function(resp){
                  //For loop going through each Option
                  for(var i=0; i < resp.length; i++){
                      console.log(resp[i]);
                      var tbl = document.createElement("table");
                      var scrollView = document.createElement("div");
                      
                      //scroll view styling
                      scrollView.style.display = "inline-block";
                      scrollView.style.position = "relative";
                      scrollView.style.border = "1px solid grey";
                      scrollView.style.width = "30vw";
                      scrollView.style.height = "30vh";
                      scrollView.style.overflow = "auto";
                      scrollView.style.margin = "30px";
                      
                      
                      //For loop going through each Classlist
                      for(var j=0; j < resp[i].classList.length; j++) {
                            var tr = document.createElement("tr");
                            var thID = document.createElement("th");
                            var thName = document.createElement("th");
                            var thGPA = document.createElement("th");
                            var thPriority = document.createElement("th");
                            var thStatus = document.createElement("th");
                            var thAssigned = document.createElement("th");
                            var thChoices = document.createElement("th");
                          console.log(resp[i].classList[j].Name);

                            var txtID = document.createTextNode(resp[i].classList[j].id);
                            var txtName = document.createTextNode(resp[i].classList[j].name);
                            var txtGPA = document.createTextNode(resp[i].classList[j].gpa);
                            var txtPriority = document.createTextNode(resp[i].classList[j].priority);
                            var txtStatus = document.createTextNode(resp[i].classList[j].status);
                            var txtAssigned = document.createTextNode(resp[i].classList[j].assignedOption);


                          //Appending text nodes to cells
                            thID.appendChild(txtID);
                            thName.appendChild(txtName);
                            thGPA.appendChild(txtGPA);
                            thPriority.appendChild(txtPriority);
                            thStatus.appendChild(txtStatus);
                            thAssigned.appendChild(txtAssigned);
                          
                          //Appending cells to row
                            tr.appendChild(thID);
                            tr.appendChild(thName);
                            tr.appendChild(thGPA);
                            tr.appendChild(thPriority);
                            tr.appendChild(thStatus);
                            tr.appendChild(thAssigned);
                            tr.appendChild(thChoices);

                          //Appending row to table(for one option.)
                            tbl.appendChild(tr);
                        }
                      scrollView.appendChild(tbl);
                      var optionTitle = document.createElement("div");
                      optionTitle.innerHTML = resp[i].courseName;
                      
                      optionsDiv.appendChild(optionTitle);
                      optionsDiv.appendChild(scrollView);
                  }

              }
            });
        });
    /*]]>*/
    </script>
</body>
</html>