<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/uploadForm.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body id="mainbody">
    <nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div id="sidebar-wrapper" class="sidebar-toggle">
			<ul class="sidebar-nav">
                <li>
                    <a href="/admin">
                        <div class='fontSize'>Home</div>
                    </a>
                </li>
		    	<li>
		      		<a href="/admin/upload">
                        <div class='fontSize'>Upload</div>
                    </a>
		    	</li>
		    	<li>
		      		<a href="/admin/viewStudents">
                        <div class='fontSize'>View Students</div>
                    </a>
		    	</li>
		    	<li>
		      		<a href="/admin/editStudents">
                        <div class='fontSize'>Edit/Re-assign Students</div>
                    </a>
		    	</li>
                <li>
		      		<a href="/logout">
                        <div class='fontSize'>Sign Out</div>
                    </a>
		    	</li>
		  	</ul>
		</div>
        <div>
            <form method="POST" enctype="multipart/form-data" action="/upload">
                <font style="color:white; margin:10px; font-size: 40px;" class="fontSize">File to upload:</font><input id="fileInput" class="form-control" type="file" name="file" onchange="updateName();" multiple=""/>
                <br />
                <br />
                <input class="form-control" type="submit" value="Upload" />
            </form>
            <div><button id="generateBut" style="font-size:22px; margin-left: 40px" class="btn btn-default btn-large">GENERATE / PLACEMENT</button></div>
            <form action="/files/StudentPlacement.csv">
            <div><button id="downloadBut" style="font-size:22px; margin-left: 40px" class="btn btn-default btn-large" type="submit">DOWNLOAD RESULTS</button></div>
            </form>
        </div>
        <div id="listFiles" style="color:#4CAF50; font-size: 18px;"></div>
        <div id="unassignedStudents" style="color:white; display: none; padding-left:25%"></div>
  	</div>
</nav>
    
</body>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        function updateName(){
            var fileName;
            allFiles = document.getElementById("fileInput").files;
            console.log(allFiles);
            var textDiv = document.createElement("div");
            document.getElementById("listFiles").innerHTML = "";
            for(var i=0; i<allFiles.length;i++){
                textDiv.innerHTML += allFiles[i].name + '<br />';
            }
            document.getElementById("listFiles").appendChild(textDiv);
        }
        
        document.getElementById("generateBut").addEventListener("click", function(){
            $.ajax({
                url:"/students/generate",
                type:"get",
                success: function(resp){
                    console.log("Successful, Generate")
                    if(resp == 'success'){
                          swal({
                          icon: 'success',
                          title: 'Students have been placed!',
                          button: false,
                          timer: 1500
                        });
                        
                        $.ajax({
                            url:"/students/unassignedStudents",
                            type:"get",
                            success:function(resp){
                                if(resp.length > 36){
                                    document.getElementById("unassignedStudents").innerHTML = "";
                                    var warningFont = document.createElement("font");
                                    warningFont.style.color = "red";
                                    warningFont.style.fontSize = "24px";
                                    warningFont.innerHTML = "WARNING! ";
                                    document.getElementById("unassignedStudents").appendChild(warningFont);
                                    document.getElementById("unassignedStudents").innerHTML += "The following student(s) did not get placed: " + "<br />" + resp;
                                    document.getElementById("unassignedStudents").style.display = "block";
                                } else {
                                    console.log(resp)
                                }
                            }
                        })
                        
                      } else {
                          swal({
                          icon: 'error',
                          title: 'Required Files have not been uploaded :(',
                          button: false,
                          timer: 1500
                        });
                      }
                }
            })
        });
        
        document.getElementById("downloadBut").addEventListener("click", function(){
            $.ajax({
                url:"/files/StudentPlacement.csv",
                type:"get",
                success: function(resp){
                    console.log(resp);
                    swal({
                      icon: 'success',
                      title: 'Download has started',
                      button: false,
                      timer: 1500
                    });
                }
            });
        })
    /*]]>*/
    </script>
</html>