body {
    margin: 0;
    padding: 0;
    background: url(../images/bcit_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#forgotLogin{
	color:white;
}
#username,#password{
	 background-color: black;
    border-radius: 2px;
    border: none;
    width: 85%;
    height: 25px;
    margin: 10px;
    color:white;
}

#sub{
    position: relative;
    top: 125px;
    border: none;
    border-radius: 4px;
    width: 85%;
    height: 40px;
    background-color: gold;
    display:block;
    margin: 0 auto;
    
}

h2{
	color:#FF0000;
}

h1 {
	display: block;
    max-width: 275px;
    height: auto;
    color: Orange;
    margin: 0 auto;
}

fieldset {
    background: rgba(0,0,0,0.6);
    margin: 0 auto;
    padding: 30px 0 16px;
    max-width: 300px;
    border-radius: 8px;
    height: 388px;
}

footer{
    bottom:0px;
    position:fixed;
    color: azure;
    background-color:rgba(25,25,25,0.85);
    width:100vw;
    left:0;
}

.headerContainer{
    top:0px;
    position:fixed;
    color: azure;
    background-color:rgba(25,25,25,0.85);
    width:100vw;
    left:0;
}